<div class="login">
  <div class="login__bg">
    <figure class="login__bg__figure">
      <img class="login__bg__img" src="../../../assets/images/bg-login.svg" alt="">
    </figure>
  </div>
    <div class="login__form">
      <h1 class="login__form__title">Olá, seja bem vindx!</h1>
      <p class="login__form__subtitle">
        <strong>Consultora Online</strong> - Um sistema completo para gerenciar suas vendas e organizar o seu negócio em um só lugar.
      </p>
      <router-outlet></router-outlet>

    </div>
</div>
