<div class="login">
  <div class="login__bg">
    <figure class="login__bg__figure">
      <img class="login__bg__img" src="../../../assets/images/bg-login.svg" alt="">
    </figure>
  </div>
    <div class="login__form">
      <h1 class="login__form__title">Olá, seja bem vindis!</h1>
      <p class="login__form__subtitle"><a class="login__form__subtitle__link" [routerLink]="['login']">Faça Login</a> ou <a class="login__form__subtitle__link" [routerLink]="['cadastro']">Cadastra-se</a></p>

      <router-outlet></router-outlet>

    </div>
</div>
