@import "../../../scss/color.scss";
$color-outline: $color-primary;

::ng-deep .mat-form-field {
  display: block !important;
}

::ng-deep .mat-form-field-appearance-outline {
  .mat-form-field-outline {
    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
      background: $color-gray-secondary !important;
    }
  }
}

mat-form-field.mat-focused,
mat-form-field:hover {
  // to change border color
  ::ng-deep .mat-form-field-outline {
    color: $color-outline !important;
  }
  // to change label color
  ::ng-deep .mat-form-field-label {
    color: $color-outline !important;
  }
}

::ng-deep mat-error {
  font-size: 12px;
}
