@import "../../../scss/color.scss";
$color-outline: $color-primary;

mat-form-field.mat-focused,
mat-form-field:hover {
  // to change border color
  ::ng-deep .mat-form-field-outline {
    color: $color-outline !important;
  }
  // to change label color
  ::ng-deep .mat-form-field-label {
    color: $color-outline !important;
  }
}

$mat-form-field-outline-border-radius: 30px;
$mat-form-field-outline-width: 1px;

:ng-deep .mat-form-field-appearance-outline {
  :ng-deep .mat-form-field-outline-start,
  :ng-deep .mat-form-field-outline-end {
    border: $mat-form-field-outline-width solid red !important;
    min-width: $mat-form-field-outline-border-radius !important;
  }

  :ng-deep .mat-form-field-outline-start {
    border-radius: $mat-form-field-outline-border-radius 0 0
      $mat-form-field-outline-border-radius !important;
    border-right-style: none;

    [dir="rtl"] & {
      border-right-style: solid;
      border-left-style: none;
      border-radius: 0 $mat-form-field-outline-border-radius
        $mat-form-field-outline-border-radius 0 !important;
    }
  }

  :ng-deep .mat-form-field-outline-end {
    border-radius: 0 $mat-form-field-outline-border-radius
      $mat-form-field-outline-border-radius 0 !important;
    border-left-style: none;
    flex-grow: 1;

    :ng-deep [dir="rtl"] & {
      border-left-style: solid;
      border-right-style: none;
      border-radius: $mat-form-field-outline-border-radius 0 0
        $mat-form-field-outline-border-radius;
    }
  }
}

/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 30px 30px 0 !important;
  flex-grow: 1;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 30px 0 0 30px !important;
  flex-grow: 1;
}

:ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  margin-top: 0 !important;
  left: 10px !important;
} */
