<ng-container [formGroup]="formName">
  <mat-form-field appearance="outline" >
    <mat-label>{{title}}</mat-label>
    <input matInput [formControlName]="formInputName" [type]="type">
    <mat-error *ngIf="formName.get(formInputName).errors && formName.get(formInputName).errors['email']">
      Esse e-mail não é válido.
    </mat-error>

    <mat-error *ngIf="formName.get(formInputName).errors && formName.get(formInputName).errors['required']">
      Ops! Faltou preencher esse campo.
    </mat-error>
  </mat-form-field>
</ng-container>
<!-- <div class="form-field">
  <div class="form-field__control">
    <input id="exampleField" type="text" class="form-field__input" value="" placeholder=" " />
    <label for="exampleField" class="form-field__label">Example field</label>
    <div class="form-field__bar"></div>
  </div>*ngIf="formName.hasError('required')"
</div> -->
