<div class="login">
  <div class="login__bg">
    <figure class="login__bg__figure">
      <img class="login__bg__img" src="../../../assets/images/bg-login.svg" alt="">
    </figure>
  </div>
    <div class="login__form">
      <h1 class="login__form__title">Olá, seja bem vinda!</h1>
      <p class="login__form__subtitle"><a class="login__form__subtitle__link">Faça Login</a> ou <a class="login__form__subtitle__link">Cadastra-se</a></p>

      <form action="" class="login__form__sign">

        <div class="login__form__sign__input">
          <lib-input title="Digite seu e-mail"></lib-input>
        </div>

        <div class="login__form__sign__input">
          <lib-input title="Digite sua senha"></lib-input>
        </div>

        <a class="login__form__sign__forget">
          Esqueci minha senha
        </a>

        <div class="login__form__sign__control">
          <lib-button [large]='true'>Login</lib-button>
        </div>

      </form>

    </div>
</div>
