@import "../../../scss/spacing.scss";
@import "../../../scss/color.scss";

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;

  @media (min-width: 768px) {
    flex-direction: column;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  &__bg {
    display: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      184deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(187, 115, 224, 1) 0%,
      rgba(255, 141, 219, 1) 100%
    );

    @media (min-width: 768px) {
      display: block;
      height: 40vh;
    }

    @media (min-width: 1024px) {
      width: 60%;
      height: 100vh;
    }

    &__figure {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {
      display: block;
      max-width: 100%;
      height: 80vh;
    }
  }

  &__form {
    padding: $spacing-30;
    width: 100%;

    @media (min-width: 768px) {
      margin: auto;
      width: 50%;
    }

    @media (min-width: 1024px) {
      width: 40%;
      padding: $spacing-40;
    }

    &__title {
      font-size: 25px;
      font-weight: 600;
      color: $color-primary;
      margin-bottom: $spacing-40;
      letter-spacing: -1px;

      @media (min-width: 1024px) {
        font-size: 32px;
      }
    }

    &__subtitle {
      font-size: 20px;
      font-style: italic;
      color: $color-gray-primary;
      margin-bottom: $spacing-35;

      &__link {
        font-size: 20px;
        font-style: italic;
        color: $color-gray-primary;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__sign {
      margin-bottom: $spacing-40;

      &__forget {
        display: block;
        text-align: right;
        color: $color-gray-primary;
        font-size: 14px;
        font-style: italic;
        text-decoration: underline;
        cursor: pointer;
        margin-bottom: $spacing-40;
      }
    }
  }
}
