<div class="login">
  <div class="login__bg">
    <figure class="login__bg__figure">
      <img class="login__bg__img" src="../../../assets/images/bg-login.svg" alt="">
    </figure>
  </div>
    <div class="login__form">
      <h1 class="login__form__title">Olá, seja bem vinda!</h1>
      <p class="login__form__subtitle"><a class="login__form__subtitle__link">Faça Login</a> ou <a class="login__form__subtitle__link" [routerLink]="['cadastro']">Cadastra-se</a></p>

      <form class="login__form__sign" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="login__form__sign__input">
          <lib-input
            title="Digite seu e-mail"
            type="email"
            formInputName="email"
            [formName]="loginForm"
            ></lib-input>
        </div>

        <div class="login__form__sign__input">
          <lib-input title="Digite sua senha" type="password" formInputName="password" [formName]="loginForm"></lib-input>
        </div>

        <div class="login__form__sign__input">
          <mat-form-field appearance="outline">
            <mat-label>teste</mat-label>
            <input matInput formControlName="teste">
            <mat-error>
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <a class="login__form__sign__forget">
          Esqueci minha senha
        </a>

        <div class="login__form__sign__control">
          <lib-button [large]='true' type="submit" [disabled]='!loginForm.valid'>Login</lib-button>
        </div>

      </form>

    </div>
</div>
